<p>Basic Select</p>
<div class="crypt-form-field">
  <label for="form-field-1">Name</label>
  <select id="form-field-1" placeholder="Select option...">
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
  </select>
</div>
<p style="margin-top: 40px">Stacked Select</p>
<div class="crypt-form-field stacked">
  <label for="form-field-2">Name</label>
  <select id="form-field-2" placeholder="Select option...">
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
  </select>
</div>
<p style="margin-top: 40px">Full Select</p>
<div class="crypt-form-field full">
  <select id="form-field-3" placeholder="Select option...">
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
  </select>
</div>
