$active-text-shadow: 0 0 0.15rem var(--primary);

.crypt-form-label {
  text-transform: uppercase;
  font-weight: bold;
  font-family: inherit;
  white-space: nowrap;
}

.crypt-form-label-muted {
  @extend .crypt-form-label;
  font-size: 0.8rem;
  opacity: 0.5;
}

.crypt-form-input {
  color: inherit;
  font-size: 1rem;
  font-family: inherit;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  &:focus,
  &:focus-within,
  &:focus-visible {
    outline: none;
    text-shadow: $active-text-shadow;
    &::placeholder {
      text-shadow: none;
    }
  }
  &::placeholder {
    color: inherit;
    opacity: 0.5;
  }
}

.crypt-form-field {
  display: flex;
  align-items: baseline;
  gap: 0.3rem;
  padding: 0.5rem 0.1rem;
  border-bottom: 1px solid var(--neutral--light-2);
  &:focus-within {
    border-color: var(--primary--dark-3);
    text-shadow: $active-text-shadow;
  }

  label {
    @extend .crypt-form-label;
    cursor: pointer;
  }
  input,
  select {
    @extend .crypt-form-input;
    text-align: right;
    flex-grow: 1;
  }

  /* Select Specific */
  select {
    min-width: 150px;
  }
  option {
    color: initial;
    text-shadow: none;
  }

  &.no-label {
    input {
      text-align: center;
    }
  }

  &.stacked {
    flex-direction: column;
    &:focus-within {
      label {
        text-shadow: none;
      }
    }

    label {
      @extend .crypt-form-label-muted;
    }

    input,
    select {
      text-align: left;
    }
    select {
      width: 100%;
    }
  }

  &.full {
    --border-inactive: var(--primary--dark-3);
    --border-active: var(--primary);

    border: 1px solid var(--border-inactive);
    border-radius: 0.2rem;
    padding: 0.3rem;
    align-items: center;

    input,
    select {
      text-align: left;
    }

    .icon {
      opacity: 0.5;
      height: 1rem;
      width: 1rem;
    }

    &:focus-within {
      border-color: var(--border-active);
      .icon {
        opacity: 0.7;
      }
    }
  }

  &.count {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 8rem;
    input {
      text-align: center;
      font-size: 2.5rem;
      font-family: var(--font-accent);
      width: 100%;
      letter-spacing: 1px;
    }
    label {
      @extend .crypt-form-label-muted;
      font-size: 1rem;
      font-weight: 300;
      text-transform: none;
      letter-spacing: 1px;
    }
    &:focus-within {
      box-shadow: 0 0 4px inset var(--primary);
    }
  }
}
