<div class="container" style="width: 500px">
  <p>Primary</p>
  <div class="crypt-tabs" data-group="primary">
    <a class="crypt-tab" data-tab="tab-1">TAB 1</a>
    <a class="crypt-tab" data-tab="tab-2">TAB 2</a>
    <a class="crypt-tab" data-tab="tab-3">TAB 3</a>
  </div>
  <p>Secondary</p>
  <div class="crypt-tabs secondary" data-group="primary">
    <a class="crypt-tab active" data-tab="tab-1">TAB 1</a>
    <a class="crypt-tab" data-tab="tab-2">TAB 2</a>
    <a class="crypt-tab" data-tab="tab-3">TAB 3</a>
  </div>
  <p>Success</p>
  <div class="crypt-tabs success" data-group="primary">
    <a class="crypt-tab" data-tab="tab-1">TAB 1</a>
    <a class="crypt-tab active" data-tab="tab-2">TAB 2</a>
    <a class="crypt-tab" data-tab="tab-3">TAB 3</a>
  </div>
  <p>Danger</p>
  <div class="crypt-tabs danger" data-group="primary">
    <a class="crypt-tab" data-tab="tab-1">TAB 1</a>
    <a class="crypt-tab" data-tab="tab-2">TAB 2</a>
    <a class="crypt-tab active" data-tab="tab-3">TAB 3</a>
  </div>
</div>
