.crypt-tabs {
  --border-inactive: var(--neutral--light-2);
  --border-active: var(--primary);
  --text-inactive: var(--primary--dark-1);
  --text-active: var(--primary);

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));

  .crypt-tab {
    cursor: pointer;
    color: var(--text-inactive);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-left: 1px solid var(--border-inactive);
    border-right: 1px solid var(--border-inactive);
    border-bottom: 2px solid var(--border-inactive);
    text-shadow: 0 0 4px var(--text-inactive);
    font-weight: bold;
    letter-spacing: 0.1rem;

    &:first-child {
      border-left: none;
    }
    &:last-child {
      border-right: none;
    }
    &.active {
      border-bottom: 3px solid var(--border-active);
      color: var(--text-active);
      text-shadow: 0 0 4px var(--text-active);
      box-shadow: inset 0 -7px 9px -7px var(--text-active);
    }
  }

  &.small {
    .crypt-tab {
      padding: 0.5rem 1rem;
    }
  }

  &.secondary {
    --border-inactive: var(--neutral-secondary--light-2);
    --border-active: var(--secondary);
    --text-inactive: var(--secondary--dark-1);
    --text-active: var(--secondary);
  }
  &.success {
    --border-inactive: var(--neutral-success--light-2);
    --border-active: var(--success);
    --text-inactive: var(--success--dark-1);
    --text-active: var(--success);
  }
  &.danger {
    --border-inactive: var(--neutral-danger--light-3);
    --border-active: var(--danger);
    --text-inactive: var(--danger);
    --text-active: var(--danger);
  }
}
