<p>Primary</p>
<div class="crypt-toggle-box">
  <input class="visually-hidden" type="checkbox" id="toggle-box-1" />
  <label for="toggle-box-1">1</label>
</div>

<p>Secondary</p>
<div class="crypt-toggle-box secondary">
  <input class="visually-hidden" type="checkbox" id="toggle-box-2" />
  <label for="toggle-box-2">10</label>
</div>

<p>Success</p>
<div class="crypt-toggle-box success">
  <input class="visually-hidden" type="checkbox" id="toggle-box-3" />
  <label for="toggle-box-3">1</label>
</div>

<p>Danger</p>
<div class="crypt-toggle-box danger">
  <input class="visually-hidden" type="checkbox" id="toggle-box-4" />
  <label for="toggle-box-4">10</label>
</div>
