<p>Primary</p>
<div class="crypt-attribute-bar">
  <progress value="75" max="100"></progress>
  <input
    class="attribute-value left"
    type="text"
    value="75"
    placeholder="min"
  />
  <span class="slash">/</span>
  <input
    class="attribute-value right"
    type="text"
    value="100"
    placeholder="max"
  />
</div>

<p>Secondary</p>
<div class="crypt-attribute-bar secondary">
  <progress value="75" max="100"></progress>
  <input
    class="attribute-value left"
    type="text"
    value="75"
    placeholder="min"
  />
  <span class="slash">/</span>
  <input
    class="attribute-value right"
    type="text"
    value="100"
    placeholder="max"
  />
</div>

<p>Success</p>
<div class="crypt-attribute-bar success">
  <progress value="75" max="100"></progress>
  <input
    class="attribute-value left"
    type="text"
    value="75"
    placeholder="min"
  />
  <span class="slash">/</span>
  <input
    class="attribute-value right"
    type="text"
    value="100"
    placeholder="max"
  />
</div>

<p>Danger</p>
<div class="crypt-attribute-bar danger">
  <progress value="75" max="100"></progress>
  <input
    class="attribute-value left"
    type="text"
    value="75"
    placeholder="min"
  />
  <span class="slash">/</span>
  <input
    class="attribute-value right"
    type="text"
    value="100"
    placeholder="max"
  />
</div>
