$active-text-shadow: 0 0 0.15rem var(--text-color);
$active-circle-shadow: 0 0 0.25rem var(--text-color);

.crypt-core-input {
  --border-color--idle: var(--primary--dark-3);
  --border-color--active: var(--primary);
  --text-color: var(--primary);
  --bg-color--idle: var(--neutral--light-1);
  --bg-color--active: var(--neutral--light-2);

  background-color: var(--bg-color--idle);
  border: 1px solid var(--border-color--idle);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &.large {
    width: 3rem;
    height: 3rem;
    input {
      font-size: 1.5rem;
    }
  }

  &.small {
    width: 2rem;
    height: 2rem;
    input {
      font-size: 1rem;
    }
  }

  input {
    border: none;
    background-color: transparent;
    color: var(--text-color);
    text-align: center;
    width: 100%;
    height: 100%;
    outline: none;
    font-family: inherit;

    &::placeholder {
      color: var(--text-color);
      opacity: 0.5;
    }
    &:focus {
      /* Foundry applies a box shadow to focused inputs */
      box-shadow: none;
    }
  }

  &:focus-within {
    background-color: var(--bg-color--active);
    border-color: var(--border-color--active);
    box-shadow: $active-circle-shadow inset;
    input {
      text-shadow: $active-text-shadow;
    }
  }

  &.secondary {
    --border-color--idle: var(--secondary);
    --border-color--active: var(--secondary--light-1);
    --text-color: var(--secondary--light-1);
    --bg-color--idle: var(--neutral-secondary);
    --bg-color--active: var(--neutral-secondary--light-1);
  }
  &.success {
    --border-color--idle: var(--success);
    --border-color--active: var(--success--light-1);
    --text-color: var(--success--light-1);
    --bg-color--idle: var(--neutral-success);
    --bg-color--active: var(--neutral-success--light-1);
  }
  &.danger {
    --border-color--idle: var(--danger);
    --border-color--active: var(--danger--light-1);
    --text-color: var(--danger--light-1);
    --bg-color--idle: var(--neutral-danger);
    --bg-color--active: var(--neutral-danger--light-1);
  }
}
