<p>Primary</p>
<label for="toggle-id-1" class="crypt-toggle">
  <input class="visually-hidden" type="checkbox" id="toggle-id-1" />
  <span class="slider"></span>
</label>

<p>Secondary</p>
<label for="toggle-id-2" class="crypt-toggle round secondary">
  <input class="visually-hidden" type="checkbox" id="toggle-id-2" />
  <span class="slider"></span>
</label>

<p>Success</p>
<label for="toggle-id-3" class="crypt-toggle success">
  <input class="visually-hidden" type="checkbox" id="toggle-id-3" />
  <span class="slider"></span>
</label>

<p>Danger</p>
<label for="toggle-id-4" class="crypt-toggle round danger">
  <input class="visually-hidden" type="checkbox" id="toggle-id-4" />
  <span class="slider"></span>
</label>
